#
# Joutsen Bulwark-base virtual host config
#
#

<VirtualHost *:443>

	ServerName <my-domain.tld>

	SSLEngine On

	SSLCertificateFile /etc/letsencrypt/live/<my-domain.tld>/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/<my-domain.tld>/privkey.pem

	SSLProxyEngine On
	SSLProxyCheckPeerCN Off
	SSLProxyCheckPeerExpire Off
	SSLProxyVerify none
	SSLProxyCheckPeerName off

	RequestHeader set Front-End-Https "On"
	RequestHeader set X-Forwarded-For "%{X-Forwarded-For}i"
	RemoteIPHeader X-Forwarded-For

	ProxyPreserveHost On
	ProxyRequests Off
	ProxyPassMatch ^/~ !
	ProxyPass /503.html !

	# LetsEncrypt local
	ProxyPass /.well-known/acme-challenge/ !

	ProxyPass / http://127.0.0.1:8001/ retry=1 acquire=3000 timeout=600 Keepalive=On
	ProxyPassReverse / http://127.0.0.1:8001/
	ProxyPassReverseCookiePath / /

	LimitRequestBody 0

	CustomLog /var/log/apache2/mastodon-<my-domain.tld>.log combined
	ErrorLog /var/log/apache2/mastodon-<my-domain.tld>.log
</VirtualHost>

<Virtualhost *:80>

  ServerName <my-domain.tld>

  DocumentRoot /var/www/<my-domain.tld>

  RewriteEngine on

  ReWriteCond %{HTTPS} !on [OR]
  ReWriteCond %{SERVER_PORT} !^443$
  RewriteRule %{SERVER_HOST} ^(<my-domain.tld>)$
  RewriteRule ^/\.well-known/acme-challenge/(.*) "-" [L]
  RewriteRule ^/(.*) https://%{HTTP_HOST}/$1 [NC,R=301,L]

</Virtualhost>
